<div class="wrapper">
	<div class="container">
		<h1>Sign up!</h1>
		
		<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
			<input 
				type="text"
				placeholder="Username"
				formControlName="username">
			<input 
				type="text" 
				placeholder="Emails"
				formControlName="email">
			<input 
				type="password" 
				placeholder="Password"
				formControlName="password">
			<button type="submit">Signup</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>